<?xml version="1.0"?>
<config>
    <modules>
        <Ml_Converter>
            <version>0.1.0</version>
        </Ml_Converter>
    </modules>
    <global>
        <models>
            <ml_converter>
                <class>Ml_Converter_Model</class>
                <resourceModel>ml_converter_resource</resourceModel>
            </ml_converter>
            <ml_converter_resource>
                <class>Ml_Converter_Model_Resource</class>
            </ml_converter_resource>
        </models>
        <blocks>
            <ml_converter>
                <class>Ml_Converter_Block</class>
            </ml_converter>
        </blocks>
        <helpers>
            <ml_converter>
                <class>Ml_Converter_Helper</class>
            </ml_converter>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ml_converter>
                <use>standard</use>
                <args>
                    <frontName>converter</frontName>
                    <module>Ml_Converter</module>
                </args>
            </ml_converter>
        </routers>
        <layout>
            <updates>
                <ml_converter>
                    <file>ml_converter.xml</file>
                </ml_converter>
            </updates>
        </layout>
    </frontend>
</config>